/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
/* this is my customised the side */

#outer-box{
  padding: 10px;
  background-color: rgb(142, 0, 142);
}

.box{
  font-size: 2rem;
}

.white-text{
  color: white;
  background-color: red;
  padding: 10px;
}

.inner-box{
  padding: 0px;
}
